$grape:#94618e;
$eggplant:#49274a;
$sand:#f4decb;
$shell:#f8eee7;
$navback:rgba(0,0,0,0.8);
$navborder:#080808;
$a:#9d9d9d;
$white:#fff;
$semi:#EFEDF0;
$shadow:#263034;
$bevan:Bevan;
$Pacifico:Pacifico;
$droid:Droid Arabic Kufi;
$xsmall-3:"(max-width:361px)";
$xsmall-2:"(min-width:362px) and (max-width:384px)";
$xsmall-1:"(min-width:385px) and (max-width:481px)";
$xsmall:"(max-width:481px)";
$mobile:"(min-width:482px) and (max-width : 767px)";
$small:"(max-width:767px)";
$medium:"(min-width:768px) and (max-width:1223px)";
$large:"(min-width:1224px) and (max-width:1824px)";
$slarge:"(min-width:1465px)";